.typeprivate {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  font-family: var(--font-family);
  .typeprivate-center {
    width: 95%;
    height:500px;
    margin: 0 auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    .typeprivate-center-header {
      width: 100%;
      height: 15%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      box-sizing: border-box;
      p {
        font-size: 18px;
        font-weight: 600;
      }
      a {
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          color: #19bfd3;
          font-size: 14px;
        }
      }
    }
    .typeprivate-center-detail {
      width: 100%;
      height: 85%;
      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: block;
        justify-content: center;
        align-items: center;
                        padding: 10px;
                border-left: 1px solid lightblue;
                box-sizing: border-box;
        .swiper-slide-header {
          width: 100%;
          height: 40px;

          display: flex;
          align-items: center;
          img {
            width: 116px;
            height: 14px;
          }
        }
        .swiper-slide-img{
            width: 100%;
            height: 150px;
            background-color: firebrick;
        }
        .swiper-slide-plus{
              width: 100%;
            height: 30px;
             img {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                border: 1px solid #05ba58;
                
              }
        }
        .swiper-slide-des{
            width: 100%;
            height: 80px;
            p{
                font-size: 12px;
                text-align: right;
                line-height: 20px;
                color: #3f4064;
              
            }
        }
        .swiper-slide-cost{
              width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-around;
             p {
                  width: 35px;
                  height: 20px;
                  border-radius: 15px;
                  text-align: center;
                  font-size: 12px;
                  padding: 2px;
                  font-family: var(--font-number);
                  background-color: #d32f2f;
                  color: white;
                }
                 span {
                  font-family: var(--font-number);
                  color: #3f4064;
                  font-size: 14px;
                  font-weight: bold;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  img {
                    width: 18px;
                    height: 18px;
                  }
                }
        }
        .swiper-slide-cost-line{
           height: 30px;
                    width: 80%;
                    text-align: justify;
                p {
                  width: 100%;
                  height: 100%;
                  direction: ltr;

                  font-family: var(--font-number);
                  color: lightgray;
                  font-size: 13px;
                  text-decoration: line-through;
                }
        }
        .swiper-slide-time{
            color: #d32f2f;
                    font-size: 10px;
                    text-align: end;
        }
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
